@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.dev-info-panel {
    position: fixed;
    bottom  : 0;
    right   : 0;
    width   : 290px;
    padding : 10px;
    
    font-family     : 'Roboto Mono', monospace;
    background-color: black;
    border          : 5px solid darkolivegreen;
    border-top      : 25px solid darkolivegreen;
    color           : greenyellow;
    transition      : 0.25s linear all;
}

#minimize-toggle div {
    border     : 0;
    padding    : 10;
    line-height: 0;
    cursor     : pointer;
}

.line {
    width           : 18px;
    height          : 4px;
    background-color: white;
    transition      : 0.25s linear all;
}

.line1 {
    transform : translate(0px, -24px) rotate(40deg);
}

.line2 {
    transform : translate(11px, -28px) rotate(-40deg);
}

.line1.minimized {
    transform: translate(0px, -24px) rotate(320deg);
}

.line2.minimized {
    transform: translate(11px, -28px) rotate(-320deg);
}

.dev-info-panel.minimized {
    transform: translate(0px, 97px)
}

#error-indicator {
    position: absolute;
    right: 0%;
    transform: translate(-50px, -41px);
}

#error-indicator.hidden {
    visibility: hidden;
}

.circle {
    height          : 18px;
    width           : 18px;
    border-radius   : 50%;
    background-color: red;
    border          : 0.2px solid white;
}

.circle:hover {
    cursor: pointer;
}

#error-indicator .line {
    height  : 2px;
    width   : 11px;
    position: absolute;
    left    : 20%;
    top     : 45%;
}

#error-indicator .line1 {
    transform: rotate(45deg);
}

#error-indicator .line2 {
    transform: rotate(-45deg);
}
