/* 
    Place all the styles related to the home controller here.
    They will automatically be included in application.css.
    You can use Sass (SCSS) here: https://sass-lang.com/
*/

body {
    background-color: white;
    font-family: "NotoSansJP Light", sans-serif;
    padding-bottom: 60px;
}

#home-container {
    padding-top  : 50px;
    padding-left : 45px;
    padding-right: 45px;
    color        : #3e3c3e;
}

#name-header h1 {
    font-size  : 36px;
    padding-bottom: 15px;
}

.intro-text-0 {
    font-size: 26px;
    padding-bottom: 30px;
}

.intro-text-1 {
    font-size: 19px;
    width: 80%;
    padding-bottom: 50px;
}

.skills-header {
    font-size     : 23px;
    padding-bottom: 25px;
}

.skill-carousel {
    columns: 3;
    width  : 85%;
}

.slide {
    /* display: none; */
}

.slide-header {
    font-size: 28px;
}

.skill-item-line {
    font-size: 31px;
}

.skill-item {
    padding-top: 15px;
    font-size: 25px;
}

li.skill-item {
    list-style-type: none;

    transition: all 0.5s ease;

    filter        : grayscale(1);
    -webkit-filter: grayscale(1);
}

li.skill-item:hover {
    filter        : none;
    -webkit-filter: grayscale(0);
}

img.skill-logo {
    height    : 40px;
    width     : 40px;
    object-fit: contain;
    transform : translateY(10px);
}

.carousel-prev, .carousel-next {
    cursor       : pointer;
    width        : auto;
    margin-top   : -22px;
    padding      : 16px;
    font-weight  : bold;
    font-size    : 18px;
    transition   : 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select  : none;
}

@media screen and (max-width: 778px) { /* Small Screen */
    #name-header span {
        display: block;
    }

    .skill-carousel {
        columns: 1;
        width  : 95%;
    }

    .skill-item-line {
        columns: 2;
    }
}
