#navbar {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    height          : 60px;
    background-color: #5d4954;
    font-family     : "Poppins", sans-serif;
}

#navbar-logo {
    color         : rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size     : 25px;

    position    : absolute;
    left        : 0%;
    padding-left: 45px;
}

.navbar-links {
    display        : flex;
    justify-content: space-around;
    width          : 0%;

    position : absolute;
    right    : 0%;
    transform: translateX(-300px);
}

.navbar-links a {
    color          : rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing : 3px;
    font-weight    : bold;
    font-size      : 14px;
}

.navbar-links li {
    list-style  : none;
    min-width   : 140px;
    padding     : 15px;
    transition  : all 0.8s ease;
    text-align  : center;
    border-color: #5d4954;
}

.navbar-links li:nth-last-child(1) {
    margin-right: 30px;
}

.navbar-links li:hover {
    cursor          : pointer;
    background-color: #6f5764;
}

.burger {
    display: none;
}

.burger div {
    width           : 25px;
    height          : 3px;
    background-color: rgb(226, 226, 226);
    margin          : 4px;
    transition      : all 0.3s ease;
}

@media screen and (max-width: 778px) { /* Small */
    body {
        overflow-x: hidden;
    }

    .navbar-links {
        position        : absolute;
        right           : -455px;
        height          : 200px;
        top             : 0px;
        background-color: #5d4954;
        display         : flex;
        flex-direction  : column;
        width           : 155px;
        max-width       : 400px;
        transition      : transform 0.5s ease-in;
    }

    .navbar-links-active {
        top: 60px;
        right: -300px;
    }

    .navbar-links li {
        text-align: left;
    }

    .navbar-links li:nth-last-child(1) {
        margin-right: 0px;
    }

    .burger {
        display: block;
        cursor : pointer;

        position     : absolute;
        right        : 0%;
        padding-right: 45px;
    }
}

@media screen and (max-width: 7480px) {

}

.burger.toggled #line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger.toggled #line2 {
    opacity: 0;
}

.burger.toggled #line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
